body {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Spectral', serif;

  /* CSS HEX */
--olive: #998748ff;
--silver: #BCB9BBff;
--dark-moss-green: #485315ff;
--van-dyke: #4F3D3Dff;
}

.hero {
  background-image: url(./images/hamilton-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.hero h1, .hero h2 {
  text-shadow: 0px 0px 1px black;
  color: white;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
}

.hero h1 {
  margin: 0;
  background-color: #998748ff;
}

.hero h2 {
  margin-top: 8px;
  background-color: #BCB9BBff;
}

.activities {
  height: 360px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity-columns {
  display: flex;
}

.activity-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 33%;
  padding: 0 8px;
}

.activity-description {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.activity-1-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.activity-2-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.activity-3-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.guide-info {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;

  align-items: center;
}

.card-container {
  width: 400px;
  height: 295px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;

  padding: 10px;
  border-radius: 10px;
  border-bottom: 4px solid black;
  margin-bottom: 30px;
}

.guide-image {
  width: 190px;
  height: 248px;
  margin-right: 20px;
  object-fit: cover;
}

.guide-info {
  text-align: center;
  margin: 0;
}

.guide-info h2 {
  margin: 0;
  font-size: 24px;
}

.guide-info p {
  margin: 8px 0;
  font-size: 16px;
}

.guide-name {
  font-weight: 800;
  font-size: 16px;
}

